#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#grid {
    width: fit-content;
    border: black 1px solid;
}
.cell {
    $size: 50px;
    width: $size;
    height: $size;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
.revealed {
    background: gray;
}
.bomb {
    background: black;
}
.flag {
    background: red;
}
